@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.card{
    padding: 60px;
    width: 12.5rem;
    height: 23rem;
}
.orange{
    background-color: #e28525;
    border-radius: 10px 0 0 10px;
}
.blue{
    background-color: #016972;
}
.green{
    background-color: #00403f;
    border-radius: 0 10px 10px 0;
}
h1{
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
}
p{
    font-size: 0.93rem;
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%, 0.75);
    line-height:2;
    margin-bottom: 50px;
}
button{
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    border-radius: 50px;
    border: white solid 2px;
}
button:hover{
    color: white;
    border: white solid 2px;
    cursor: pointer;
}
.blue>button{
    color: #016972;
}
.blue>button:hover{
    background-color: #016972;
    color: white;
    border: white solid 2px;
}
.orange>button{
    color: #e28525;
}
.orange>button:hover{
    background-color: #e28525;
    color: white;
    border: white solid 2px;
}
.green>button{
    color: #00403f;
}
.green>button:hover{
    background-color: #00403f;
    color: white;
    border: white solid 2px;
}
@media (max-width:959px) {
    body{
        padding-top: 20px;
    }
    .card{
        margin: auto;
    }
    .orange{
        margin-right: 0;
    }
    .blue{
        margin-left: 0;
    }
    .blue{
        border-radius: 0 10px 10px 0;
    }
    .green{
        border-radius: 0 0 10px 10px;
    }
    p{
        margin-bottom: 60px;
    }
}
@media (max-width:750px) {
    p{
        margin-bottom: 50px;
    }
    .cards{
        flex-direction: column;
    }
    .card{
        min-width: 10rem;
        padding: 30px 60px;
    }
    .orange{
        border-radius: 10px 10px 0 0;
    }
    .blue{
        border-radius: 0;
    }
    .green{
        border-radius: 0 0 10px 10px;
    }
}